body {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

.alert {
  background: #bf0000;
  color: #fff;
}

.button {
  background-color: skyblue;
  display: inline-block;
  padding: 1em;
}

.button:hover {
  background-color: teal;
}
