* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  height: 100%;
}

html, body {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 10%;
  background: #333;
}

.sidebar {
  width: 15%;
  display: inline-block;
  height: 90%;
  background: #777;
}

.messages {
  width: 85%;
  display: inline-block;
  height: 90%;
  background: #bbb;
  vertical-align: top;
}
