<!DOCTYPE html>
<html lang="en" ng-app='hipstrchat'>
<head>
  <meta charset="UTF-8">
  <title>HipsterChat</title>
  <!-- bower:css -->
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.min.css">
  <!-- endinject -->
</head>
<body>

  <!-- <input type="text" ng-model="hello">
  <div class="{{ hello }}">
    {{ hello }}
  </div>

  <div ng-controller="AppCtrl">

    {{ title }}
    <ul>
      <li ng-repeat="hero in heroes">{{hero}}</li>
    </ul>
    <div class="button" ng-click="buttonClicked()">
      Click me
    </div>

  </div> -->
  <div class="container">
    <div class="header" ng-controller="HeaderCtrl">
      {{ title }}
    </div>
    <div class="sidebar" ng-controller="SidebarCtrl">
      {{ title }}
      <ul>
        <li ng-repeat="user in users">{{user.nickname}}</li>
      </ul>


    </div><div class="messages" ng-controller="MessagesCtrl">
      {{ title }}
      <div ng-repeat="message in messages | orderBy : created_at : reverse">
        {{message.user_id}}: {{message.text}}
      </div>
      <div class="new-message">
        <form name="newMsgForm" ng-submit="sendMessage(newMsgForm)">
          <input type="text" ng-model="data.text">
          <button>Hip</button>
        </form>
      </div>
    </div>
  </div>






  <!-- <div class="container" ui-view></div> -->
  <!-- bower:js -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <!-- endinject -->
</body>
</html>